body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}
.test-container {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	position: relative;
}
.page-margin {
	margin: 0 66px;
}
.last {
	margin-bottom: 66px;
}
.top-margin {
	margin-top: 66px;
}
.droppable-section-header {
	margin-left: 66px;
}
.with-space {
	margin: 26px 26px 0 26px;
}

.with-border {
	border: 1px solid #dbdbdb;
}

.col {
	display: flex;
	flex-direction: column;
}

.dropGlow {
	animation-duration: 1s;
	animation-name: dropGlow;
}
@keyframes dropGlow {
	from {
		background: rgba(23, 23, 230, 0.2);
	}
	to {
		background: white;
	}
}
.tabs {
	z-index: 9;
	position: fixed;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: row;
}
.tab {
	width: 150px;
	background: white;
	text-align: center;
	cursor: pointer;
	height: 30px;
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 500;
	margin-top: 4px;
	margin-right: 4px;
	padding-top: 8px;
}
.tab.active {
	background: #6e0fea;
}
.example-board {
	margin: 10px 0 0 10px;
}
input {
	font-family: 'Roboto';
}
.row-splitter {
	margin-top: 10px;
	margin-left: 10px;
}
.scroll-button,
.row-split-button {
	font-family: 'Roboto';
	flex-grow: 0;
	width: 120px;
	height: 30px;
	text-transform: uppercase;
	border: 1px solid #e6e6e6;
	background: white;
	color: grey;
	margin-top: 15px;
	margin-right: 10px;
	cursor: pointer;
	outline: none;
}
.row-split-button {
	margin-right: 0;
}
.indicator-button {
	margin-left: 16px;
	font-family: 'Roboto';
	flex-grow: 0;
	height: 30px;
	text-transform: uppercase;
	border: 1px solid #e6e6e6;
	background: white;
	color: grey;
	margin-top: 15px;
	margin-right: 10px;
	cursor: pointer;
	outline: none;
}
.first-button {
	border-right: none;
}
.second-button {
	border-left: none;
}
.active {
	background-color: #6e0fea;
	color: white;
}
.scroll-button:hover {
	border-color: grey;
	color: black;
}
.title-and-controls,
.controls {
	position: relative;
	display: flex;
	flex-direction: row;
}
.backwards,
.forwards {
	margin-top: 30px;
	margin-left: 24px;
	cursor: pointer;
}
.backwards {
	width: 20px;
	height: 20px;
	background: url('images/arrow-down.svg');
	background-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotate(90deg);
}
.forwards {
	width: 20px;
	height: 20px;
	background: url('images/arrow-down.svg');
	background-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotate(270deg);
}
.input-section {
	display: flex;
}
.row {
	display: flex;
	flex-direction: row;
}
.person-image {
	margin-right: 18px;
	width: 28px;
	height: 28px;
	background: url('images/profile_m_0.png');
	background-size: 26px;
	background-position: center;
	background-repeat: no-repeat;
}
.list-header {
	display: flex;
	flex-direction: row;
	position: relative;
	border-right: 1px solid white;
}
.list-header-text {
	flex-grow: 1;
	color: white;
	font-weight: 600;
	font-size: 16px;
	text-align: left;
	margin-top: 22px;
	margin-left: 16px;
}
.header-wrapper {
	background: #6e0fea;
}
.header-active {
	transform: scale(1.05);
}
